<!--	  main    -->
<div class="main-pages ">
   <div class="search-body">

        <main class="w-container main-section">

            <header on-search="Search.getSearchResult(query)" query="Search.query">
            </header>



            <!--

                <section class="ask-question-container">

                    <form ng-submit="Search.getSearchResult(query)">

                        <div class="w-row">

                            <div class="w-col w-col-7 w-col-small-7 w-col-tiny-12 w-col-big-mobile-12 column">

                                <input id="question-input" class="w-input" placeholder="מה השאלה שלך?" type="text" ng-model="query">

                            </div>

                            <div class="w-col w-col-3 w-col-small-3 w-col-tiny-12 w-col-big-mobile-12 column">

                                <input id="tags-input" class="w-input" placeholder="הוסף מילות מפתח" type="text">

                            </div>

                            <div class="w-col w-col-2 w-col-small-2 w-col-tiny-12 w-col-big-mobile-12 column">

                                <input id="submit-button" class="button" type="submit" value="שלח">

                            </div>

                        </div>

                    </form>

                </section>

            -->
            
					
    <section class="w-container questions-container">
		<section class="welcome-box" ng-if="!currentUser" ng-class="Search.closed ? 'closed' : ''">
		<span ng-click="Search.closing()" class="close welcome">
			<svg class="icon icon-close">
				<use xlink:href="#icon-close"></use>
			</svg>
	    </span>	
		
		<h1 class="welcome-title">ברוכים הבאים לTalkme</h1>	
		<h1 class="welcome-subtitle">מנוע חיפוש על כל נושא בעולם הסטארטאפים</h1>
			
		<div class="icons">
		<svg class="icon icon-icons"><use xlink:href="#icon-icons"></use></svg>
		</div>	
			
		</section>
		
		
		
        <div class="w-row">
            <div class="w-col w-col-2 w-col-small-0 w-col-tiny-0 w-col-big-mobile-0 column categories-container">
                <div class="categories-header">
                    <h1 class="categories-title">הנושאים החמים</h1>
                </div>
                <ul class="categories-list">
                    <li ng-click="Search.getSearchResult('משקיעים')" class="flex-box"><a href="">משקיעים</a></li>
                    <li ng-click="Search.getSearchResult('מחפש-שותף')" class="flex-box"><a href="">מחפש שותף</a></li>
                    <li ng-click="Search.getSearchResult('מעצבים')" class="flex-box"><a href="">מעצבים</a></li>
                    <li ng-click="Search.getSearchResult('חשיפה')" class="flex-box"><a href="">חשיפה</a></li>
                    <li ng-click="Search.getSearchResult('SEO')" class="flex-box"><a href="">SEO</a></li>
                    <li ng-click="Search.getSearchResult('שיווק')" class="flex-box"><a href="">שיווק</a></li>
                    <li ng-click="Search.getSearchResult('seed')" class="flex-box"><a href="">seed</a></li>
                    <li ng-click="Search.getSearchResult('רעיונות')" class="flex-box"><a href="">רעיונות</a></li>
				</ul>
                    </div>
                    <div class="w-col w-col-10 w-col-small-12 w-col-tiny-12 w-col-big-mobile-12 column">



                        <!-- TO DO: add groupName: 'השבוע: שאלות ותשובות על סטארטאפים' to all of our current algolia records     -->
						
<!--						ng-repeat="(key, value) in Search.searchresult.hits | groupBy: 'groupName'"-->
						
						
                        <div class="questions-group" > 
                            <div class="questions-header">
                               <svg class="icon icon-popular"><use xlink:href="#icon-popular"></use></svg>
                                <p class="calendar-number"></p>

                                <h1 class="questions-date">הפופלאריים ביותר</h1>
                            </div>
                            <div class="questions">
                                <div class="question-box"
                            ng-repeat="hit in Search.searchresult.hits |orderBy: '-date'">
                                    <div class="w-row">

                                        <div class="w-col w-col-12 w-col-small-12 w-col-tiny-12 w-col-big-mobile-12 column">
                                           
										
											
											
									<!-- TODO ran: add owner image in ng-src  / check if we have it at the API    -->
											<a href="https://www.facebook.com/app_scoped_user_id/{{hit.question.personId}}" target="_blank" title="{{hit.question.personName}}">
<img class="owner-img" src="https://graph.facebook.com/{{hit.question.personId}}/picture?width=200&height=200">
                   </a>
						
                                            <div class="flex-box">
                                                <h2  class="question-title" ng-click="Search.go2FS(hit)"
                                                    ng-bind-html="hit._highlightResult.question.message.value | linkyWithHtml"></h2>
                                            </div>


<!--
                                            <div class="flex-box">
                                                <h2 ng-text-truncate="hit._highlightResult.question.message.value"
                                                    ng-tt-chars-threshold="200" class="question-title" ng-click="Search.go2FS(hit)"
                                                    ng-bind-html="hit._highlightResult.question.message.value | linkyWithHtml"></h2>
                                            </div>
-->

                                            <div class="flex-height">


                                                <div class="comments-button" ng-click="Search.go2FS(hit)">
                                                    <svg class="icon icon-comments">
                                                        <use xlink:href="#icon-comments"></use>
                                                    </svg>
                                                    <p>{{hit.answers.length ? hit.answers.length : 'הגב' }}</p>
                                                </div>


                                                <!-- TO DO: add ng-click upvote function      -->
                                                <div class="upvote-button">
                                                    <div class="triangle-button"><span
                                                            class="triangle triangle-up"></span>
                                                    </div>

                                                    <p>{{hit.question.rating ? hit.question.rating : '0' }}</p>
                                                </div>
                                            </div>


                                            <!--
                                                todo: Elad if we have hit.link add capture, picture , name of the link
                                                                             hit.link.link

                                                                             hit.link.name

                                                                             hit.link.picture

                                                                             hit.link.caption -->

                                   

                                  
                                </div>


                            </div>


                        </div>


                    </div>
                </div>
				</div>
			</div>
            </section>

        </main>
    </div>
</div>


